

body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: black;
}

.overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 9;
	background-color: #000000;
	opacity: 0.5;
	visibility: hidden;
}

.centered {
	margin: auto;
}

@media (min-width:60px) {
	.centered {
		width: 100%;
	}
}

@media (min-width:850px) {
	.centered {
		width: 85%;
	}
}

@media (min-width:960px) {
	.centered {
		width: 75%;
	}
}

@media (min-width:1100px) {
	.centered {
		width: 65%;
	}
}

.search {
	width: 40%;
}

@media (max-width:850px) {
	.search {
		width: 60%;
	}
}

#importField {
	position: fixed;
	top: 35%;
	left: 35%;
	transform: translateX(-50%);
	transform: translateY(-35%);
	resize: none;
	z-index: 10;
	visibility: hidden;
}

#missing {
	position: relative;
	width: 100%;
	height: 25vh;
	background: #EAf0f6;
	border: groove;
	resize: none;
	z-index: 1;
	box-sizing: border-box;
}

#courseDetails {
	position: relative;
	width: 100%;
	height: 25vh;
	border: groove;
	z-index: 3;
	transform: translateY(2px);
	box-sizing: border-box;
}

#myInput {
	position: relative;
	transform: scale(1.0, 1.0);
	font-size: 20px;
	width: 100%;
}

#courses {
	//GRID
	top: 10%;
	position: absolute;
	width: 80%;
	background: #EAf0f6;
	border: inset;
	z-index: 4;
}

#searchList {
	position: absolute;
	visibility: hidden;
	border: 3px solid #003b6f;
	background-color: #FFF;
	font-size: 22px;
	z-index: 4;
	box-sizing: border-box;
	width: 40%;
}

#footer {//FIX;
	position: absolute; 
	bottom: -3%;
	height: 28px;
	width: 100%;
	z-index: 3;
	background: rgba(176, 196, 222);
	border: outset;
	text-align: center;
	box-sizing: border-box;
	vertical-align: middle;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

